/* SITEWIDE STYLES -- HOMEPAGE, COURSE PAGE, ETC. */
/* BACKGROUND AND GENERAL LAYOUT */
html {
  margin: 0;
  padding: 0;
  min-height: 100vh; }

body {
  min-height: 100vh; }

body.fw1000 {
  background-color: #bfbfbf;
  background-size: cover;
  margin: 0px; }
  body.fw1000 .midwrapper, body.fw1000 #headercontent, body.fw1000 #navlistcont {
    max-width: 1000px; }
  body.fw1000 .headerwrapper {
    background: white;
    border: 0px;
    margin: 0px;
    border-bottom: 2px solid #ff6c0c; }
    body.fw1000 .headerwrapper .headerlogo {
      padding: 5px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 250px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-decoration: none;
      color: black;
      font-family: serif;
      padding-left: 5px; }
  body.fw1000 .midwrapper {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 1px 0px 2px #646464, -1px 0px 2px #646464, 0px 2px 2px #646464;
    box-shadow: 1px 0px 2px #646464, -1px 0px 2px #646464, 0px 2px 2px #646464;
    padding: 15px;
    overflow-x: auto; }
    body.fw1000 .midwrapper .breadcrumb {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -15px;
      background-color: white;
      border: 0;
      border-bottom: 1px solid #ff6c0c; }

#leftcontent {
  position: absolute;
  left: 0px;
  top: 30px;
  padding-left: 15px;
  padding-top: 15px;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  background-color: white; }
  #leftcontent::-webkit-scrollbar {
    display: none; }
  #leftcontent p {
    border: 1px solid #9c9c9c;
    padding: 5px;
    margin-bottom: 7px;
    background: white;
    -webkit-box-shadow: 1px 2px 2px #9c9c9c;
    box-shadow: 1px 2px 2px #9c9c9c;
    border: 1px solid #9c9c9c; }
    #leftcontent p b {
      display: block;
      background: #ff6c0c;
      color: white;
      padding: 2px 4px;
      margin: -5px;
      margin-bottom: -10px; }

#centercontent .breadcrumb {
  margin-left: -15px;
  margin-right: -15px; }

.blockwrap {
  -webkit-box-shadow: 1px 2px 2px #9c9c9c;
  box-shadow: 1px 2px 2px #9c9c9c;
  border: 1px solid #9c9c9c;
  margin-bottom: 10px; }
  .blockwrap .block {
    border-radius: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px; }
  .blockwrap div.blockitems {
    margin-bottom: 0px;
    padding-bottom: 0px; }
    .blockwrap div.blockitems div.item {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .blockwrap div.blockitems select {
      margin-bottom: 10px; }
  .blockwrap div.blockitems[aria-expanded="true"] {
    border-top: 1px solid #9c9c9c; }

.block.folder {
  -webkit-box-shadow: 1px 2px 2px #9c9c9c;
  box-shadow: 1px 2px 2px #9c9c9c;
  border: 1px solid #9c9c9c;
  border-radius: 0px; }

.block {
  background-color: #f0f0f0 !important;
  border-radius: 0px; }

div[aria-label="Courses you're teaching"], div[aria-label="Courses you're taking"], div[aria-label="New messages"], div[aria-label="New forum posts"] {
  -webkit-box-shadow: 1px 2px 2px #9c9c9c;
  box-shadow: 1px 2px 2px #9c9c9c;
  border: 1px solid #9c9c9c;
  margin-bottom: 15px; }
  div[aria-label="Courses you're teaching"] .blockitems, div[aria-label="Courses you're taking"] .blockitems, div[aria-label="New messages"] .blockitems, div[aria-label="New forum posts"] .blockitems {
    margin-bottom: 0px; }

.blockitems {
  background-color: white !important; }

div.item {
  border-radius: 0px;
  -webkit-box-shadow: 1px 2px 2px #9c9c9c;
  box-shadow: 1px 2px 2px #9c9c9c;
  border: 1px solid #9c9c9c; }
  div.item .itemsum {
    padding: 0px; }

#navlistcont #navlist {
  background-color: #ff6c0c !important; }
  #navlistcont #navlist li a {
    background-color: #ff6c0c !important; }

img {
  max-width: 100%; }

/*Link styles*/
a:link {
  text-decoration: #63acce; }

a:visited {
  text-decoration: #e5503d; }

a:hover {
  text-decoration: underline; }

/*Container for course items*/
/*Container for editor*/
div.editor {
  border: 1px solid #000; }

/*Icons*/
div.icon {
  color: #00d;
  border: 1px solid #00f;
  font-weight: bolder; }

/*Breadcrumb bar*/
div.breadcrumb {
  background-color: #fff; }

/*Control panels*/
div.cp {
  border: 1px solid #000;
  background-color: #eee; }

div.cpmid {
  border: 1px solid #000;
  background-color: #eee; }

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
  border-bottom: 2px solid #00f;
  background-color: #eef; }

tr.even, tr.even td {
  background-color: #fff; }

tr.odd, tr.odd td {
  background-color: #dfd; }

tr.bordered td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

tr.highlight, tr.highlight td {
  background-color: #ddf; }

tr.grid td {
  border: 1px solid #000; }

tr.dbltop td {
  border-top: 3px double #000; }

table.gbl td.locked, table.gbl th.locked {
  border-right: 2px solid #00f; }

/*Category header colors*/
table.gb .catdf {
  background-color: #eef; }

table.gb .cat0 {
  background-color: #ddf; }

table.gb .cat1 {
  background-color: #dfd; }

table.gb .cat2 {
  background-color: #fdd; }

table.gb .cat3 {
  background-color: #dff; }

table.gb .cat4 {
  background-color: #ffd; }

table.gb .cat5 {
  background-color: #fdf; }

table.gb .cat6 {
  background-color: #aaf; }

table.gb .cat7 {
  background-color: #afa; }

table.gb .cat8 {
  background-color: #faa; }

table.gb .cat9 {
  background-color: #aff; }

.cattothdr {
  font-variant: small-caps; }

/*Fake look of links for Javascript onclicks*/
span.link {
  text-decoration: underline;
  color: #00f;
  cursor: pointer; }

span.spanbutton {
  background: #ff6c0c;
  border: 2px outset #ff6c0c;
  color: white;
  cursor: pointer; }
  span.spanbutton:hover {
    background: #ff7100; }

div.ddmenu {
  padding: 5px;
  background: #18dcff;
  border: 1px solid #0fa4be; }

/*colors and borders for assessments*/
/*seq question css*/
div.inactive {
  border: 1px solid #00f; }

div.prequestion {
  border: 1px solid #ff6c0c; }

div.todoquestion {
  background-color: #ffffcc;
  border: 1px solid #999966; }

/*all questions*/
div.question {
  background-color: white;
  border: 1px solid #ff6c0c; }

div.review {
  background-color: white;
  border: 1px solid #ff6c0c; }

div.intro {
  border: none; }

div.navbar {
  width: 150px;
  background: #ff6c0c;
  border: 1px solid #000;
  color: white; }
  div.navbar a {
    color: white; }
  div.navbar span.current {
    background: none;
    color: #dbdbdb !important;
    font-size: 24px;
    text-shadow: 1px 1px black; }

span.current {
  background-color: #ffa; }

span.done {
  text-decoration: line-through; }

/* ADDED STYLES */
.page-title {
  font-size: 54px;
  border-bottom: 3px solid #ff6c0c;
  color: #ff6c0c;
  margin-bottom: 20px;
  margin-top: 5px; }
  .page-title small {
    font-size: 65%;
    color: #777; }

h2.pretty {
  width: 100%;
  font-size: 36px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  background-color: #ff6c0c; }
  h2.pretty a {
    color: inherit; }
    h2.pretty a:hover {
      text-decoration: none; }

h3.pretty {
  width: 100%;
  font-size: 36px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  background-color: #faa51e; }
  h2.pretty a {
    color: inherit; }
    h2.pretty a:hover {
      text-decoration: none; }

h4.pretty {
  width: 100%;
  font-size: 36px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  background-color: #6cd8e5; }
  h2.pretty a {
    color: inherit; }
    h2.pretty a:hover {
      text-decoration: none; }

h5.pretty {
  width: 100%;
  font-size: 28px;
  font-style: italic;
  padding-left: 20px;
  border-bottom: 2px solid black; }

.shadow, .fig {
  border: 1px solid #D0D0D0;
  -webkit-box-shadow: 0 0 8px #D0D0D0;
  box-shadow: 0 0 8px #D0D0D0; }

.primary-dark-shadow {
  -webkit-box-shadow: 0 0 10px #ff6c0c;
  box-shadow: 0 0 10px #ff6c0c; }

.red {
  color: red; }

.blue {
  color: blue; }

.green {
  color: green; }

.purple {
  color: purple; }

.text-center {
  text-align: center; }

.italic {
  font-style: italic; }

.strong {
  font-weight: bold; }

.indented {
  margin-left: 35px; }

table.pretty {
  border-collapse: collapse;
  margin: 8px auto;
  margin-bottom: 12px;
  text-align: center; }

table.pretty, table.pretty td, table.pretty th {
  border: 1px solid black; }

table.pretty td {
  padding: 3px 7px; }

table.pretty tr:first-child {
  background-color: rgba(240, 240, 240, 0.8);
  font-weight: bold; }

table.bordered {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 8px auto;
  margin-bottom: 1em; }
  table.bordered td, table.bordered th {
    border: 1px solid black;
    padding: 3px 7px;
    text-align: center; }

.definition-container {
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #b295d0;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px #b295d0;
  box-shadow: 0 0 10px #b295d0; }
  .definition-container .definition-title {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #b295d0;
    color: #fff;
    font-size: 120%;
    text-align: center;
    padding: 3px 0; }
  .definition-container .definition-body {
    padding: 5px 15px; }

body {
  counter-reset: example; }

.example-title {
  font-size: 28px;
  font-style: italic;
  color: #282828;
  border-bottom: 2px solid #282828; }
  .example-title::before {
    counter-increment: example;
    content: "Example " counter(example) ": ";
    font-weight: bold; }

.example-container {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .example-container .example-title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #eee;
    color: #000;
    text-align: center;
    cursor: pointer;
    padding: 2px 0;
    border-bottom: 1px solid #c8c8c8; }
    .example-container .example-title::before {
      counter-increment: example;
      content: "Example " counter(example) ": ";
      font-weight: bold; }
  .example-container .example-body {
    padding: 15px; }

.fig {
  margin: 0px auto;
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  max-width: 100%;
  text-align: center; }
  .fig .app {
    margin: auto; }
  .fig video {
    margin: 0px auto; }
  .fig figcaption {
    text-align: center; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: block; }

[class*="row-col-"] {
  float: left;
  padding: 10px 10px;
  width: 100%; }

@media only screen and (min-width: 695px) {
  .row-col-1 {
    width: 8.33333%; }
  .row-col-2 {
    width: 16.66667%; }
  .row-col-3 {
    width: 25%; }
  .row-col-4 {
    width: 33.33333%; }
  .row-col-5 {
    width: 41.66667%; }
  .row-col-6 {
    width: 50%; }
  .row-col-7 {
    width: 58.33333%; }
  .row-col-8 {
    width: 66.66667%; }
  .row-col-9 {
    width: 75%; }
  .row-col-10 {
    width: 83.33333%; }
  .row-col-11 {
    width: 91.66667%; }
  .row-col-12 {
    width: 100%; } }
